{% extends 'main/base.html' %}

{% block title %}Post New Project{% endblock %}

{% block content %}

<section class="update-profile-section">
    <div class="update-profile-card">

        <div class="update-profile-header">
            <h2>Post New Project</h2>
            <p>Add your project details and find the right freelancer.</p>
        </div>

        <form method="POST" class="update-profile-form">
            {% csrf_token %}

            <div class="form-group">
                <label>Project Title</label>
                {{ form.title }}
            </div>

            <div class="form-group">
                <label>Description</label>
                {{ form.description }}
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Category</label>
                    {{ form.category }}
                </div>

                <div class="form-group">
                    <label>Budget</label>
                    {{ form.budget }}
                </div>


            </div>

            <div class="form-actions">
                <a href="{% url 'accounts:client_profile' %}" class="btn-cancel">Cancel</a>
                <button type="submit" class="btn-save-profile">Post Project</button>
            </div>

        </form>

    </div>
</section>

{% endblock %}