{% extends 'main/base.html' %}
{% load static %}

{% block title %}Delete Project{% endblock %}

{% block content %}



<section class="update-profile-section">

    <div class="update-profile-card" style="max-width:600px; text-align:center;">

        <div class="update-profile-header">
            <h2>Delete Project</h2>
            <p>This action cannot be undone</p>
        </div>

        <div class="delete-box">

            <p class="delete-text">
                Are you sure you want to delete
                <strong>"{{ project.title }}"</strong> ?
            </p>

            <form method="POST" class="form-actions">
                {% csrf_token %}

                <a href="{% url 'accounts:portfolio_project_detail' project.id %}" class="btn-cancel">
                    Cancel
                </a>

                <button type="submit" class="btn-delete-project">
                    Yes, Delete
                </button>

            </form>

        </div>

    </div>

</section>

{% endblock %}