{% extends 'main/base.html' %}
{% load static %}

{% block title %}Update Profile{% endblock %}

{% block content %}

<div class="cover-wrapper">
    <div class="profile-cover">
        <div class="cover-pattern"></div>
        <div class="cover-dots"></div>
    </div>
</div>
<div class="profile-main">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="profile-header-card">

            <div class="profile-top">

                <!-- Avatar -->
                <div class="update-avatar-box">
                    <div class="avatar-preview">
                        {% if form.instance.avatar %}
                        <img src="{{ form.instance.avatar.url }}" alt="Profile Image">
                        {% else %}
                        <img src="{% static 'images/avatar/default.png' %}" alt="Default Image">
                        {% endif %}
                    </div>

                    <div class="avatar-upload">
                        <label>Profile Image</label>
                        {{ form.avatar }}
                    </div>
                </div>

                <!-- Identity -->
                <div class="profile-identity">

                    <input type="text" name="job_title" placeholder="Job Title"
                        value="{{ form.job_title.value|default:'' }}" class="form-control mb-2">

                    <div class="mb-2">
                        <select name="preferred_categories" class="form-control">
                            <option value="">Choose Category</option>

                            {% for value, label in form.preferred_categories.field.choices %}
                            <option value="{{ value }}"
                                {% if form.preferred_categories.value==value %}selected{% endif %}>
                                {{ label }}
                            </option>
                            {% endfor %}

                        </select>
                    </div>


                    <input type="text" name="location" placeholder="Location"
                        value="{{ form.location.value|default:'' }}" class="form-control mb-2">

                </div>

                <!-- Actions -->
                <div class="profile-actions">
                    <button type="submit" class="btn-hire">Save</button>
                </div>

            </div>

        </div>

        <div class="profile-grid">

            <!-- LEFT -->
            <div>

                <!-- About -->
                <div class="profile-card">
                    <h3 class="card-title">About Me</h3>
                    <textarea name="about" class="form-control" rows="5"
                        placeholder="Write about yourself">{{ form.about.value|default:'' }}</textarea>
                </div>

                <!-- Skills -->
                <div class="profile-card">
                    <h3 class="card-title">Skills</h3>
                    <input type="text" name="skills" class="form-control"
                        placeholder="Python Django HTML CSS"
                        value="{{ form.skills.value|default:'' }}">
                </div>
                <a href="{% url 'accounts:add_portfolio_project' %}" class="btn-hire" style="display:inline-block; margin-bottom:20px;">
                    Add Project
                </a>
            </div>

            <!-- RIGHT -->
            <div>

                <div class="profile-card">
                    <h3 class="card-title">Quick Info</h3>

                    <input type="text" name="availability" class="form-control mb-2"
                        placeholder="Availability"
                        value="{{ form.availability.value|default:'' }}">

                    <input type="number" name="hourly_rate" class="form-control mb-2"
                        placeholder="Hourly Rate"
                        value="{{ form.hourly_rate.value|default:'' }}">

                    <input type="text" name="languages" class="form-control"
                        placeholder="Languages"
                        value="{{ form.languages.value|default:'' }}">

                </div>

            </div>

        </div>

    </form>

</div>

{% endblock %}