{% extends 'main/base.html' %}
{% load static %}

{% block title %}Update Freelancer Profile{% endblock %}

{% block content %}

<div class="cover-wrapper">
    <div class="profile-cover">
        <div class="cover-pattern"></div>
        <div class="cover-dots"></div>
    </div>
</div>

<section class="update-profile-section">

    <div class="update-profile-card">

        <div class="update-profile-header">
            <h2>Update Freelancer Profile</h2>
            <p>Complete your freelancer profile to attract more clients.</p>
        </div>

        <form method="POST" enctype="multipart/form-data" class="update-profile-form">
            {% csrf_token %}

            <!-- Avatar -->
            <div class="avatar-upload">
                <input type="file" name="avatar" id="avatarInput" hidden>

                <label for="avatarInput" class="avatar-label">
                    {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" class="profile-avatar">
                    {% else %}
                    <img src="/media/default-avatar.avif" class="profile-avatar">
                    {% endif %}

                    <div class="avatar-overlay">
                        Change Your Avatar
                    </div>
                </label>
            </div>

            <!-- About -->
            <div class="form-group">
                <label>About</label>
                {{ form.about }}
            </div>
            <!-- Skills -->
            {% include 'includes/skills_field.html' %}
            <!-- Location -->
            <div class="form-group">
                <label>Location</label>
                {{ form.location }}
            </div>

            <!-- Row -->
            <div class="form-row">
                <div class="form-group">
                    <label>Availability</label>
                    {{ form.availability }}
                </div>

                <div class="form-group">
                    <label>Languages</label>
                    {{ form.languages }}
                </div>

                <div class="form-group">
                    <label>Job Title</label>
                    {{ form.job_title }}
                </div>

                <div class="form-group">
                    <label>Experience</label>
                    {{ form.experience }}
                </div>

                <div class="form-group">
                    <label>Hourly Rate</label>
                    {{ form.hourly_rate }}
                </div>
            </div>

            <!-- Actions -->
            <div class="form-actions">
                <a href="{% url 'accounts:freelancer_profile' %}" class="btn-cancel">
                    Cancel
                </a>

                <button type="submit" class="btn-save-profile">
                    Save Changes
                </button>
            </div>

        </form>

    </div>

</section>

{% endblock %}