{% extends 'main/base.html' %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
{% endblock %}

{% block content %}

<div class="chat-page">

    <div class="chat-container" id="chatContainer">


        <div class="overlay"></div>


        <div class="chat-sidebar mt-3 ms-2">
            <button class="back-btn">
                <i class="bi bi-arrow-left"></i>
            </button>
            <h3>Messages</h3>

            {% for conver in conversations %}
            <div class="chat-user {% if conver.id == conversation.id %}active{% endif %}">


                <a href="{% url 'chat:chat_view' conver.id %}" class="text-decoration-none d-flex align-items-center w-100">

                    {% if conver.user1 == request.user %}

                    {% if conver.user2.freelancerprofile.avatar and conver.user2.freelancerprofile.avatar.name %}
                    <img src="{{ conver.user2.freelancerprofile.avatar.url }}" class="avatar">
                    {% elif conver.user2.clientprofile.avatar and conver.user2.clientprofile.avatar.name %}
                    <img src="{{ conver.user2.clientprofile.avatar.url }}" class="avatar">
                    {% else %}
                    <div class="avatar avatar-placeholder avatar-{{ conver.user2.username|first|lower }}">
                        {% if conver.user2.first_name %}
                        {{ conver.user2.first_name|first|upper }}{{ conver.user2.last_name|first|upper }}
                        {% else %}
                        {{ conver.user2.username|first|upper }}
                        {% endif %}
                    </div>
                    {% endif %}

                    {% else %}

                    {% if conver.user1.freelancerprofile.avatar and conver.user1.freelancerprofile.avatar.name %}
                    <img src="{{ conver.user1.freelancerprofile.avatar.url }}" class="avatar">
                    {% elif conver.user1.clientprofile.avatar and conver.user1.clientprofile.avatar.name %}
                    <img src="{{ conver.user1.clientprofile.avatar.url }}" class="avatar">
                    {% else %}
                    <div class="avatar avatar-placeholder avatar-{{ conver.user1.username|first|lower }}">
                        {% if conver.user1.first_name %}
                        {{ conver.user1.first_name|first|upper }}{{ conver.user1.last_name|first|upper }}
                        {% else %}
                        {{ conver.user1.username|first|upper }}
                        {% endif %}
                    </div>
                    {% endif %}

                    {% endif %}

                    <div class="user-info ms-2">
                        <span class="name">
                            {% if conver.user1 == request.user %}
                            {{ conver.user2.first_name }}
                            {% else %} {{ conver.user1.first_name }}
                            {% endif %} {% if conver.unread_count > 0 %}
                            <span class="badge">{{ conver.unread_count }}</span>
                            {% endif %} </span>

                        <span class="last-msg">
                            {% if conver.message_set.all.last %}
                            {{ conver.message_set.all.last.content }}
                            {% else %}
                            No messages yet
                            {% endif %}
                        </span>
                    </div>

                </a>


                {% if conversation %}
                <button
                    class="btn btn-sm text-danger border-0 bg-transparent ms-2"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                    data-id="{{ conver.id }}">
                    Delete
                </button>
                {% endif %}

            </div>

            {% endfor %}

        </div>

        <div class="chat-area">

            <div class="chat-header">

                <button class="menu-btn" id="chatToggleBtn">
                    <i class="bi bi-list"></i>
                </button>
                <div class="avatar big">
                    {% if conversation.user1 == request.user %}

                    {% if conversation.user2.freelancerprofile.avatar and conversation.user2.freelancerprofile.avatar.name %}
                    <img src="{{ conversation.user2.freelancerprofile.avatar.url }}">
                    {% elif conversation.user2.clientprofile.avatar and conversation.user2.clientprofile.avatar.name %}
                    <img src="{{ conversation.user2.clientprofile.avatar.url }}">
                    {% else %}
                    {% if conversation.user2.first_name %}
                    {{ conversation.user2.first_name|first|upper }}{{ conversation.user2.last_name|first|upper }}
                    {% else %}
                    {{ conversation.user2.username|first|upper }}
                    {% endif %}
                    {% endif %}

                    {% else %}

                    {% if conversation.user1.freelancerprofile.avatar and conversation.user1.freelancerprofile.avatar.name %}
                    <img src="{{ conversation.user1.freelancerprofile.avatar.url }}">
                    {% elif conversation.user1.clientprofile.avatar and conversation.user1.clientprofile.avatar.name %}
                    <img src="{{ conversation.user1.clientprofile.avatar.url }}">
                    {% else %}
                    {% if conversation.user1.first_name %}
                    {{ conversation.user1.first_name|first|upper }}{{ conversation.user1.last_name|first|upper }}
                    {% else %}
                    {{ conversation.user1.username|first|upper }}
                    {% endif %}
                    {% endif %}

                    {% endif %}
                </div>

                <div>
                    <h4>
                        {% if conversation.user1 == request.user %}
                        {{ conversation.user2.first_name }}
                        {% else %}
                        {{ conversation.user1.first_name }}
                        {% endif %}
                    </h4>

                </div>

            </div>
            <div class="chat-messages">
                {% if conversation %}

                {%for message in chat_messages%}

                {%if message.sender == request.user%}

                <div class="message you">
                    {{message.content}}
                    {% if message.is_read %}
                    <span class="seen read">✓✓</span>
                    {% else %}
                    <span class="seen">✓</span>
                    {% endif %}
                </div>

                {%else%}
                <div class="message other">
                    {{message.content}}
                </div>

                {%endif%}
                {%endfor%}

            </div>

            <form action="{%url 'chat:chat_view' conversation.id%}" method="post">
                {% csrf_token %}
                <div class="chat-input">
                    <input type="text" placeholder="Type a message..." name="content">

                    <button type="submit">
                        <i class="bi bi-send-fill"></i>
                    </button>
                </div>
            </form>
            {% else %}

            <div class="empty-chat">
                <div class="empty-box">
                    <i class="bi bi-chat-dots"></i>
                    <h5>No conversation selected</h5>
                    <p>Select a chat from the sidebar to start messaging</p>
                </div>
            </div>

            {% endif %}
        </div>


    </div>


</div>
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Delete Conversation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                Are you sure you want to delete this conversation?
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>

                <form method="POST" id="deleteForm">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}