{% extends 'main/base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}


{% block content %}


<div class="about-section">

    <div class="about-card">

        <!-- LEFT -->
        <div class="about-left">
            <h1>ABOUT US</h1>

            
            <p>
                We are students in the Web Development Bootcamp using Python at Tuwaiq Academy.
                This website represents our unit project, where we applied the skills we gained
                throughout the program, including front-end development, building systems with Django,
                and working collaboratively as a team.

                Through this project, we aim to deliver a unique user experience and simulate
                a real-world web development environment.
            </p>

            
        </div>

        <!-- RIGHT -->
        <div class="about-right">
            <div class="blob"></div>
            <div class="circle small"></div>
            <div class="circle big"></div>
        </div>

    </div>

</div>

{% endblock %}
