{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Freelanzo{% endblock %}</title>

    {% block style%}{%endblock%}
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body id="top" {% if "mode" in request.COOKIES and request.COOKIES.mode == "dark" %} class="dark" {% endif %}>

    <!-- nav start  -->
    <nav class="main-navbar">

        <!-- Logo -->
        <a href="{% url 'main:home' %}" class="nav-logo">
            <img src="{% static 'images/logo.png' %}" alt="Freelanzo Logo" class="logo-img">
            <span class="logo-text">Freelanzo</span>
        </a>

        <!-- Center -->
        <div class="nav-center">
            <form class="nav-search" method="GET" action="{% url 'accounts:all_freelancer' %}">
                <i class="bi bi-search"></i>
                <input type="text" name="q" placeholder="Search for freelancers , skills...">
            </form>

            <ul class="nav-links">

                <li><a href="{% url 'main:home' %}">Home</a></li>

                <li class="dropdown">
                    <a href="#" class="dropbtn" id="categoryToggle">
                        Categories <i class="bi bi-chevron-down"></i>
                    </a>

                    <ul class="dropdown-menu" id="categoryMenu">
                        <li><a href="{% url 'accounts:all_freelancer' %}?category=1">Graphics & Design</a></li>
                        <li><a href="{% url 'accounts:all_freelancer' %}?category=2">Programming & Tech</a></li>
                        <li><a href="{% url 'accounts:all_freelancer' %}?category=3">Digital Marketing</a></li>
                        <li><a href="{% url 'accounts:all_freelancer' %}?category=4">Writing & Translation</a></li>
                        <li><a href="{% url 'accounts:all_freelancer' %}?category=5">Video & Animation</a></li>
                        <li><a href="{% url 'accounts:all_freelancer' %}?category=6">Business</a></li>
                    </ul>
                </li>

                <li><a href="{%url 'marketplace:projects_view'%}">Projects</a></li>
                <li><a href="{%url 'accounts:all_freelancer'%}">Freelancers</a></li>

                {% if request.user.is_authenticated and request.user.usertype.role == 'client' %}
                <a href="{% url 'accounts:favorite_freelancers' %}" class="nav-link">
                    Favorites
                </a>
                {% endif %}

                <li><a href="{%url 'chat:contact_view'%}">Contact Us</a></li>

                <li><a href="{%url 'main:about_view'%}">About Us</a></li>


            </ul>
        </div>

        <!-- Right -->
        <div class="nav-icons">
            <a href="{% url 'main:mode_view' 'toggle' %}?next={{request.path}}" class="theme-toggle-btn">
                {% if request.COOKIES.mode == "dark" %}
                <span class="material-symbols-outlined">dark_mode</span>
                {% else %}
                <span class="material-symbols-outlined">light_mode</span>
                {% endif %}
            </a>
            <a href="{% url 'chat:chat_view' %}" class="icon-btn">
                <i class="bi bi-chat-dots"></i>
            </a>

            

            {% if request.user.is_authenticated %}

            {% if request.user.usertype.role == 'freelancer' %}
            <a href="{% url 'accounts:freelancer_profile' %}" class="icon-btn" title="Profile">
                <i class="bi bi-person"></i>
            </a>
            {% else %}
            <a href="{% url 'accounts:client_profile' %}" class="icon-btn" title="Profile">
                <i class="bi bi-person"></i>
            </a>
            {% endif %}

            <a href="{% url 'accounts:logout_view' %}" class="icon-btn" title="Logout">
                <i class="bi bi-box-arrow-right"></i>
            </a>

            {% else %}

            <a href="{% url 'accounts:sign_in_view' %}" class="icon-btn" title="Sign in">
                <i class="bi bi-person"></i>
            </a>

            {% endif %}

            <button class="icon-btn menu-toggle" id="menuToggle">
                <i class="bi bi-list"></i>
            </button>
        </div>

    </nav>
    <!-- footer end -->


    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- footer start -->
    <footer class="main-footer">

        <div class="footer-container">

            <!-- Logo + Text -->
            <div class="footer-brand">
                <img src="{% static 'images/logo.png' %}" alt="Freelanzo">
                <h3>Freelanzo</h3>
                <p>Connecting talent with opportunity. Build your future with confidence.</p>
            </div>

            <!-- Links -->
            <div class="footer-links">
                <h4>Explore</h4>
                <a href="#">Projects</a>
                <a href="{% url 'accounts:all_freelancer'%}">Freelancers</a>
                <a href="#">Categories</a>
            </div>

            <div class="footer-links">
                <h4>Company</h4>
                <a href="#">About Us</a>
                <a href="#">Contact</a>
                <a href="#">Privacy Policy</a>
            </div>

            <!-- Social -->
            <div class="footer-social">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

        </div>

        <!-- Bottom -->
        <div class="footer-bottom">
            <p>© 2026 Freelanzo. All rights reserved.</p>
        </div>

    </footer>
    <!-- footer end -->

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    

</body>

</html>