{% extends 'main/base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}


{% block content %}
<div class="contact-page-container">
<div class="contact-wrapper">

   <div class="contact-left">
            <img src="{% static 'images/logo.png' %}" class="logo">

            <h2>Get in Touch</h2>
            <p>
                We're here to help. Send us your message and we'll respond quickly.
            </p>
        </div>

        <!-- RIGHT -->
        <div class="contact-right">
            <form class="contact-form">
                <textarea placeholder="Write your message..."></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>

    </div>

</div>


{% endblock %}